.gallery__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-gap: 0.4rem;
    grid-auto-flow: dense;
}



@for $i from 1 through 6 {

    .w-#{$i} {
        grid-column: span $i;
    }
}

@for $i from 1 through 6 {

    .h-#{$i} {
        grid-row: span $i;
    }
}



@media screen and (max-width:500px) {
    .gallery__container {
        grid-template-columns: repeat(2, 1fr);
    }


    .w-1,
    .w-2,
    .w-3,
    .w-4,
    .w-5,
    .w-6 {

        grid-column: span 2;
    }
}

@media screen and (max-width:300px) {
    .gallery__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .w-1,
    .w-2,
    .w-3,
    .w-4,
    .w-5,
    .w-6 {

        grid-column: span 1;
    }
}