.banner {
    width: 100%;
    height: 30rem;

    background-size: cover;
    background-position: center;

    position: relative;

    margin-bottom: 0.5rem;

    @include desktop {
        height: 100vh;
    }

    h1 {
        font-family: $kablacammoFont;
        font-size: 2.2rem;
        text-align: end;
        position: absolute;
        bottom: 20%;
        right: 10%;
        // background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
        background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(241, 255, 0, 1) 50%, rgba(51, 186, 36, 1) 100%);
        /* Mask the color to the text, and remove the rest  */
        -webkit-background-clip: text;
        background-clip: text;
        /* Make the text fill color value transparent so the masked background color comes through */
        -webkit-text-fill-color: transparent;

        @include desktop {
            font-size: 6rem;
        }
    }
}

@each $page,
$url in $bg-imgs {
    .banner__img-#{$page} {
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url($url);
    }
}