.gridContainer {



    @include desktop {
        // margin-left: 1em;
        width: 85%;
        margin: 2rem auto;
        // background-color: rgb(151, 178, 196);
        // padding: 20px;
        display: grid;
        // height: 100vh;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}



.form {

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    // padding: 6rem;
    gap: 3rem;
    background-color: rgba(243, 6, 6, 0.26);
    flex-wrap: nowrap;
    padding: 1rem;
    background: $bg-tricolor;

    & textarea {
        height: 120px;
        width: 100%;
        resize: none;
    }


    &-control {
        padding: .8rem;
        border-radius: 6px;
        width: 100%;
        // display: flex;
        // flex-wrap: nowrap;
    }

    &__btn {
        width: 80%;

        padding: 1rem;
        border: none;

        border-radius: 10px;
        background-color: rgb(12, 102, 39);

        cursor: pointer;
        color: white;
        background-color: rgba(172, 4, 35, 0.925);
        font-size: 20px;


        &:hover {
            background-color: rgb(199, 20, 53);


        }

    }

    @include desktop {
        border-radius: 1rem;
    }
}

.row {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3rem;

    @include desktop {

        display: flex;

        flex-direction: row;
        // justify-content: space-around;

    }

}

.aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;

    background-color: rgba(109, 110, 6, 0.349);

    @include desktop {
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }




}

.card {
    // width: 300px;
    background-color: whitesmoke;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: .3rem;

    &-title {
        color: black;
        font-size: 1.5rem;
    }

    &-subtitle {

        color: black;
        font-size: 1rem;
    }

    &-icons {
        font-size: 1.5rem;
        color: black;
    }
}