.gallery__item {
    width: 100%;
    height: 100%;
    position: relative;

    & &__media {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    & &__media img,

    & &__media iframe {

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        cursor: pointer;
        transition: .3s ease-in-out;
    }

    &:hover &__media img {
        transform: scale(1.5);
    }

    &:hover &__media iframe {
        transform: scale(0.95);
    }



}