* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: rgb(32, 7, 7);
}

main {}

header {
    width: 1366px;
    height: 70px;
}

header h3 {
    display: inline-block;
    width: fit-content;
    font-size: 3rem;
}

.portada {
    width: 100vw;
}

.portada img {
    width: 100%;
}

header nav {
    display: inline-block;
    margin-left: 0px;
}

header nav ul li {
    display: inline-block;
    margin: 10px;
}

a {
    color: rgb(31, 150, 150);
}