* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    background-color: rgb(32, 7, 7);
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/batucadaBackground1.jpg);
    background-size: cover;
    background-position: center;
}

header {
    width: 1366px;
    height: 70px;
}

header h3 {
    display: inline-block;
    width: fit-content;
    font-size: 3rem;
}

.portada {
    width: 100vw;
}

.portada img {
    width: 100%;
}

header nav {
    display: inline-block;
    margin-left: 0px;
}

header nav ul li {
    display: inline-block;
    margin: 10px;
}

a {
    color: rgb(31, 150, 150);
}